@import 'landing';
@import: 'sizes';
@import 'textstyles';

#login-screen {

	background-size: 100%;
	.landing-style;

	text-align: center;

	> #brand-container {


		height: 11%;
		width: 31.5%;

		background-image: url(assets/images/brand.png);
		background-size: 100%;
		background-repeat: no-repeat;
		
		margin-left: 34%;
		margin-top: 21%;

	
	}

	> .logged-box {

		margin-top: @size-one-space * 10;

		> .auth-buttons {

			.auth-button {

				margin: (@size-one-space * 2) auto;
			}

		>.auth-button-logout {

			margin: (@size-one-space * 4) auto;
		}

		}

	}

	> .unlogged-box {

		margin-top: @size-one-space * 8;

		> #big-input-content {


		}

		> .auth-buttons {

			.auth-button {

				margin: (@size-one-space * 2) auto;

			}

		>.auth-button-logout {

			margin: (@size-one-space * 32) auto;
		}

		}

	}

}


