@import 'landing';
@import: 'sizes';
@import 'textstyles';

#login-screen {

	background-size: 100%;
	.landing-style;

	text-align: center;

	> #login-brand-container.brand-container {

		height: 11%;
		width: 31.5%;
		
		margin-left: 34%;
		margin-top: 21%;

	
	}

	> .login-box.is-unlogged {

		margin-top: @size-one-space * 10;


		> .large-button {

			margin: (@size-one-space * 2) auto;
		}



	}

	> .login-box.is-logged {

		margin-top: @size-one-space * 8;

		> .large-button:first-child {

			margin: (@size-one-space * 2) auto;

		}

		> .large-button:last-child {

			margin: (@size-one-space * 32) auto;
		}


	}

}


