@import 'landing';
@import: 'sizes';
@import 'textstyles';

#login-screen {

	background-size: 100%;
	.landing-style;

	text-align: center;

	> #brand-container {

		height: 20%;
		width: 50%;

		background-image: url(assets/images/brand.png);
		background-size: 100%;
		background-repeat: no-repeat;
		
		margin-left: 25%;
		margin-top: 25%;

	}

	> #hello-container {

		.header-text-style;

	}

	> .logged-box {

		margin-top: @size-one-space * 10;

		> .auth-buttons {

			.auth-button {

				margin: (@size-one-space * 2) auto;

			}

		}

	}

	> .unlogged-box {

		margin-top: @size-one-space * 10;

		> #big-input-content {


		}

		> .auth-buttons {

			.auth-button {

				margin: (@size-one-space * 2) auto;

			}

		}

	}

}
