@import 'paddings';
@import 'textstyles';

#scan-screen {

	> .header {

		> #brand-container {

			height: 70%;
			width: 25%;

			background-image: url(assets/images/brand.png);
			background-size: 30%;
			background-repeat: no-repeat;
	    
			margin-left: 40%;
			margin-top: 7px;

  	}

  }

  > .screen-container {

  	> #scan-box {

  		> #scan-box-title {

  			.text-is-font-bold-style;
  			.box-padding-style;

  		}

  		#scan-box-content {

  			.box-padding-style;

  		}

  	}

  }

}
