
@import 'sizes';
@import 'colors';
@import 'paddings';
@import 'textstyles';

@image-size: 500px;


#scan-screen {

	> .screen-container {

		> .box {


			> .box-content {

				.box-padding-style;
				text-align: center;

				> #scan-box-content-image {

					//TODO : Change this to implement relative size
					width: @image-size;
					height: @image-size;

					margin: 40px auto;
					
					background-color: @pure-white;
					border-radius: @border-box-radius-size;
					box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3);
					

					background-image: url(assets/images/iphone_qr.png);
					background-repeat: no-repeat;
					background-size: 90%;
					background-position-x: 25px;
					background-position-y: 27px;

				}

				> .detail-text {

					width: @image-size;
					margin: 13px auto;

					margin-top: -16px;


				}

			}

		}


	}

}



// When scan has an error
#scan-screen.has-error {

	> .screen-container {

		> .box {

			> .box-content {


				> #scan-box-content-image {

					background-image: url(assets/images/iphone_qr_error.png);
					background-repeat: no-repeat;
					background-size: 90%;
					background-position-x: 25px;
					background-position-y: 27px;

				}

			}

		}

	}

}

