
@import 'sizes';
@import 'colors';
@import 'paddings';
@import 'textstyles';

@image-size: 500px;

#scan-screen {

	> .header {

		> #brand-container {

			height: 70%;
			width: 25%;

			background-image: url(assets/images/brand.png);
			background-size: 30%;
			background-repeat: no-repeat;
			
			margin-left: 45%;
			margin-top: 7px;

		}

	}

	> .screen-container {

		> #scan-box {

			> #scan-box-title {

				.text-is-font-bold-style;
				.box-padding-style;

			}

			#scan-box-content {

				.box-padding-style;
				text-align: center;

				> #scan-box-content-image {

					//TODO : Change this to implement relative size
					width: @image-size;
					height: @image-size;

					margin: 40px auto;
					
					background-color: @pure-white;
					border-radius: @border-box-radius-size;
					box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3);
					

					background-image: url(assets/images/iphone_qr.png);
					background-repeat: no-repeat;
					background-size: 90%;
					background-position-x: 25px;
					background-position-y: 27px;

				}

				> #scan-box-content-message {

					width: @image-size;
					margin: 13px auto;

					font-size: @font-normal;
					margin-top: -16px;

					.button-text-is-font-black-style;


				}

			}

		}

		> .scan-button {

			margin: (@size-one-space * 4) auto;

		}

	}

}
