{{#with view}}

{{#view Yn.HeaderView id="scan-header" class="with-small-shadow"}}

	{{view Yn.BackButtonView }}

	<div class="brand-container is-small"></div>

{{/view}}

<div class="screen-container">

	<div class="space by-eight"></div>

	{{view Yn.EmptyView contentI18n="empty_invitations"}}


</div>

{{/with}}
