<div id="brand-container"></div>

<div class="space by-six"></div>

<div id="hello-container">
	{{I18n hello}}
</div>

<div class="space by-two"></div>

<div id="login-buttons" class="center">

  {{view Yn.SingleBigButtonView class="enter-button is-grey button-text is-big is-font-black" 
    contentI18n="enter" 
    action="enter" }}

</div>