{{#with view}}

  <div class="menu-container">

    {{view Yn.MenuOptionView icon="E" textI18n="menu_scan" 
      action="goToScan"}}

    {{! view Yn.MenuOptionView icon="c" textI18n="menu_promos"
      action="goToPromos"}}

    {{! view Yn.MenuOptionView icon="w" textI18n="menu_reports"
      action="goToReports"}}

    {{view Yn.MenuOptionView icon="t" textI18n="menu_settings"
      action="goToSettings"}}

  </div>

{{/with}}
