{{#with view}}

  <div class="menu-container">

    {{view Yn.MenuOptionView icon="E" textI18n="menu_scan" 
      action="goToScan"}}

    {{view Yn.MenuOptionView icon="k" textI18n="menu_product_units"
      action="goToProductUnits"}}

    {{view Yn.MenuOptionView icon="k" textI18n="menu_invitations"
      action="goToInvitations"}}

    {{view Yn.MenuOptionView icon="t" textI18n="menu_settings"
      action="goToSettings"}}

  </div>

{{/with}}
