
{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

  {{view Yn.MenuButtonView }}
  <div class="header-title">
    {{I18n promos_title}}
  </div>

  {{#view Yn.AdaptativeButtonView class="header-button l-right is-blue button-text is-small is-font-white" 
    action="save"}}
    {{I18n add}}
  {{/view}}

{{/view}}

{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}


{{/view}}

{{/with}}
