
{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

  {{view Yn.MenuButtonView }}
  <div class="header-title">
    {{I18n reports_title}}
  </div>

{{/view}}

{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}


{{/view}}

{{/with}}
