{{#with view}}

{{#view Yn.HeaderView id="scan-header" class="with-small-shadow" }}

	{{view Yn.BackButtonView }}
	<div class="brand-container is-small"></div>

{{/view}}


{{#view Yn.ScrollerView class="screen-container"
	exclude=".header" }}

	<div class="space by-two"></div>

	<div class="box">

		<div class="box-title-top">

			{{I18n scan_title}}

		</div>

		<div class="box-content">

      <div id="scan-box-content">

        <div id="scan-box-content-image"></div>
      
      </div>

			<div class="detail-text">

				{{I18n scan_help}}

			</div>

		</div>

	</div>

	{{view Yn.MainButtonView class="is-blue"
			contentI18n="scan"
			action="scan" }}


{{/view}}

{{/with}}
