{{#with view}}

{{#view Yn.HeaderView id="scan-header"}}

	<div id="brand-container"></div>

{{/view}}

<div class="screen-container">

	<div class="space by-two"></div>

	<div id="scan-box" class="box">
		<div id="scan-box-title" class="box-title box-title-top">
			{{I18n scan_title}}
		</div>
		<div id="scan-box-content" class="box-content">
			{{I18n scan_help}}
		</div>
	</div>

</div>

{{/with}}